<header>
  <nav>
    <div class="nav-area">
      <a href="/" class="nav-title">家庭記帳本</a>
      <a href="/users/logout" class="btn-logout">登出</a>
    </div>
  </nav>
</header>
<section id="index-page">
  <div class="container mt-3">
    <div class="content-area">
      <select class="mb-3" name="category" id="category" onchange="location=this.value">
        {{#if categorySelected}}
        <option value="?category={{categorySelected.name}}">{{categorySelected.name}}</option>
        {{else}}
        {{#if categoriesALL}}
        {{else}}
        <option selected="none" selected disabled hidden>類別</option>
        {{/if}}
        {{/if}}

        {{#if categoriesALL}}
        <option value="?category=ALL" selected>ALL</option>
        {{else}}
        <option value="?category=ALL">ALL</option>
        {{/if}}
        {{#each categoriesOther}}
        <option value="?category={{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
      <p>總金額：</p>
      <div class="totalAmount ">{{totalAmount}}</div>

      <div class="record-area">
        <ul class="records">
          {{#each records}}

          <li class="record">
            <div class="record-content">
              <div class="record-content-head">
                <i class="fa-{{this.iconStyle}} fa-{{this.iconName}} fa-2xl"></i>
                <div class="record-detail">
                  <h2 class="record-name">{{this.name}}</h2>
                  <h4 class="record-time">{{this.date}}</h4>
                </div>
              </div>
              <div class="record-price">{{this.amount}}</div>
            </div>

            <div class="record-buttons">
              <a href="#" class="btn btn-info mx-3">修改</a>
              <form action="/delete" method="post">
                <button class="btn btn-danger" type="submit">刪除</button>
              </form>
            </div>
          </li>
          {{/each}}

      </div>

</section>